Cartopy
cftime
cf_xarray
dask
dask_expr
dask_geopandas
distributed
geocube
geopandas
h5netcdf
ipywidgets
ipyleaflet
ipyfilechooser
joblib
matplotlib
notebook
numpy<2.0
pandas
pint_xarray
seaborn
Shapely
toml
types-toml
tqdm
xarray
