bokeh
Cartopy
cftime
cf_xarray
dask
dask_expr
dask_geopandas
distributed
geocube
geopandas
h5netcdf
ipywidgets
ipyleaflet
ipyfilechooser
joblib
matplotlib
notebook
numpy
pandas
pint_xarray
seaborn
Shapely
toml
types-toml
tqdm
#xarray==2024.2.0  # https://github.com/pydata/xarray/issues/8909 bug
xarray
